<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Document</title>
</head>

<body>
  <div class="" id="app">
    <!-- {{message}}
    <p class="coll" v-bind:class="{cool: isGood}">hello world 1</p>
    <p class="coll" v-bind:class="isGood ? 'cool' : 'notcool'">hello world 2</p>
    <p class="coll" v-bind:class="[activeClass]">hello world 3</p> -->
    <ul>
      <li v-for="item in todos">{{item.text}}</li>
    </ul>
    <p>{{content}}</p>
    <input type="text" v-model="content">
    <p class="coll" v-on:click="reverseMsg">{{msg}}</p>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        // message: 'hashimoto kanna',
        // isGood: false,
        // activeClass: 'active'
        todos: [{
            text: '学习 1'
          },
          {
            text: '学习 2'
          },
          {
            text: '学习 3'
          },
        ],
        msg:'hashimoto kanna',
        content: ''
      },
      methods: {
        reverseMsg() {
          this.msg = this.msg.split('').reverse().join('')
        }
      }
    })
  </script>
</body>

</html>